@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$telephone-bp: 450px;
$tablet-bp: 780px;
$desktop-bp: 1100px;

:root {

    --main-font: 'Roboto', sans-serif;

    --modal-bg: #21212178;

}